/* .chat-container {
    position: fixed;
    background-color: aliceblue;
    
    width: 100%;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%); 
    bottom: 0; 
    top: 0;
    opacity: 20%;

    box-shadow: 0 1px 2px rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
    z-index: 1;
} */

.nav { 
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  max-width: 520px;
  background-color: #FFFBE9;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.nav-item{
  display: flex;
  align-items: center;
}
.nav-item.active{
  border-bottom: 3px solid #7E6363;
}
.nav-link{
  color: #BBC793;
}
.nav-link.active{
  color:#7E6363;
}
.nav-link a{
  display: flex;
  align-items: center;
  text-align: center;
}

.menu .item{
  color: white !important;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 10;
}

 
.chat-container {
  position: absolute;
  width: 100%;
  max-width: 520px;
  bottom: 0;
  max-height: 55%;
  /* background:linear-gradient(to bottom, rgba(0, 0, 0, 0.604) -356%, rgba(88, 67, 110, 0.2) 717%); */
  background-color: #F4EAD5;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: top 0.3s ease;
  /* box-shadow: 0 1px 2px rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15); */
}


.shadow-box {
  /* background: rgba(255, 255, 255, 0.1);  */
  backdrop-filter: blur(2px); /* Flou plus subtil */
  /* border-radius: 12px; /* Coins arrondis */
  padding: 20px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  
  border: 1px solid #2c2c2c69;
}


/* Zone de chat */
.chat-area {
  mask-image: linear-gradient(to bottom, transparent 0px, black 8px, black 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0px, black 8px, black 100%);
  position: relative;
  flex: 1;
  margin: auto;
  overflow-y: auto;
  padding: 20px 1rem 10px 1rem;
  max-width: 1000px;
  width: 100%;
  /* Ce z-index crée un contexte d'empilement pour ses enfants */
  z-index: 2; 
}

/* Dégradé placé en arrière-plan
.chat-gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 20px; 
  background: linear-gradient(to bottom, #F4EAD5 0%, rgba(244, 234, 213, 0) 100%);
  pointer-events: none; 
  z-index: 1;
} */

  /* Styles des messages avec un z-index supérieur */
  .message {
    position: relative; /* Nécessaire pour que le z-index soit pris en compte */
    user-select: none;
    z-index: 3; /* Supérieur à .chat-gradient */
    max-width: 90%;
    margin-bottom: 7px;
    padding: 9px 15px;
    border-radius: 20px;
    opacity: 0;
    animation: fadeIn 0.4s forwards;
  }

  .container-editor{
    background-color: #FFFBE9;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 520px;
    z-index: 2;
  }


      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .message.sent {
        background: #7E6363;
        align-self: flex-end;
        
      }
      .message.received {
        color: #ac5978;
        background-color: #FFFBE9;
        align-self: flex-start;
      }    

      /* Supprime la marge par défaut des paragraphes dans .message */
      /* .message.received div {
        margin-bottom: 0 !important;
        font-weight: 800;
        text-shadow: 
          1px 1px 0 #ffffff,
          -1px -1px 0 #ffffff,
          1px -1px 0 #ffffff,
          -1px 1px 0 #ffffff;
      } */
      
      /* Formulaire d'envoi */
      .chat-input-wrapper {
        position:relative;
        padding: 12px 1rem;
        background-color: #F4EAD5;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        
        z-index: 1;
      }
      .input-container{
        
        padding: 5px 7px 5px 15px;
        width: 100%;
        background: #CCD6A6;
        display: flex;
        /* gap: 3px; */
        align-items: center;
        border-radius: 30px;
      }
      .chat-input {
        
        width: 100%;
        /* padding: 12px 50px 12px 15px; */
        border: none;
        border-radius: 30px;
        outline: none;
        background: rgba(255, 255, 255, 0);
        color: #7E6363;
      }
      .chat-input::placeholder {
        color: #7E6363;
      }



          /* Style commun pour les boutons */
    #photoIconContainer,
    #sendIconContainer,
    #toggleEmojiBtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 10px;
      /* border: 1px solid #55555573; */
      border-radius: 30px;
      transition: background-color 0.3s ease;
      /* position: absolute; */


    }

    #photoIconContainer:hover,
    #sendIconContainer:hover,
    #toggleEmojiBtn:hover {
      background-color: #7e63632f;
    }

    .audioIconContainer{
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 10px;
      /* border: 1px solid #55555573; */
      border-radius: 30px;
      transition: background-color 0.3s ease;
      /* position: absolute; */

    }

    .translations {
      /* border-top: 1px solid #ffffff52; */
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        display: none; /* Assure que l'élément ne prend pas de place quand caché */
        color: #BBC793 !important;
        font-weight: 500;
    }
    
    .translations.show {
        display: block; /* Affiche l'élément avant l'animation */
        max-height: 500px; /* Ajuste selon ton contenu */
        opacity: 1;
    }


    .container-editor .label{
      font-size: 15px;
    }
    .box-color{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .item-color{
      width: 20px;
      height: 20px;
      /* background-color: #7E6363; */
      
      border-radius: 30px;
    }
    .close-editor{
      height: 15px;
      width: 3px;
      background-color: black;
    }
  
  
    @media (max-height: 500px) {
      .nav {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      canvas{
        top: 0;
      }
      .chat-container{
        max-height: 100%;
        bottom: 0 !important;
      }
      .chat-area {
        mask-image: none;
        -webkit-mask-image: none;
      }
    }